.Tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
  }
  
  .Post,
  .Reels,
  .Tag {
    flex: 1; 
    box-sizing: border-box; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #C2C2C2;
    cursor: pointer;
}

.Tag{
    border: none;
}