.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.AppInfo {
  width: 50vw;
}

.AppDiv {
  display: flex;
  margin: 0 auto;
  width: 390px;
}

.LayoutDiv {
  width: 390px;
}
